<h1>Stupid coaching</h1>
<h3>ask a new question</h3>


<form action="/answer" data-turbo="false">
  <input class="user col-sm-4" type="text" name="question">
  <input class="button" type="submit" value="Ask!">
</form>
